:root {
    --bg-color: #d63333ff;
    --text-color: #f4f4f4;
    --card-bg: #891313;
    --button-bg: #dfcd66;
    --button-hover: #4a411a;
}

body.dark {
    --bg-color: #2b0202;
    --text-color: #eee;
    --card-bg: #291f1f;
    --button-bg: #493f08;
    --button-hover: #dfcd66;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    transition: background 0.3s, color 0.3s;
}

.stopwatch {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    width: 320px;
}

.time {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: var(--button-bg);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--button-hover);
}

.theme-toggle {
    background: transparent;
    border: 2px solid var(--button-bg);
    color: var(--button-bg);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.theme-toggle:hover {
    background: var(--button-bg);
    color: white;
}

.laps {
    margin-top: 15px;
    max-height: 120px;
    overflow-y: auto;
    font-size: 0.9rem;
    text-align: left;
    color: var(--text-color);
}

.laps section {
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
}